# Environment
NODE_ENV=

# GraphQL Server Options
GRAPHQL_PORT=

# JWT
JWT_ACCESSTOKEN_SECRET=
JWT_REFRESHTOKEN_SECRET=
JWT_ISSUER=
JWT_AUDIENCE=

# Cache
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# Service URLs
COMMENTS_SVC_URL=
POSTS_SVC_URL=
USERS_SVC_URL=
MAILER_SVC_URL=
